/* head container designs */
.head-container {
    width: 100%;
    padding-top: 85px; /* Pushes the content below the sticky header */
}

.img-txt-area {
    position: relative;
    width: 100%;
    height: 250px; /* Desired height for the image */
}

.img-txt-area img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(75%);
    opacity: 0.8;
    vertical-align: bottom; /* Aligns image to the bottom if there's extra space */
    user-select: none;
    pointer-events: none;
}

.img-center-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Economica';
    font-size: 90px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

@media (max-width: 1000px){
    .img-center-txt{
        font-size: 70px;
    }
}

/* Default styles */
.hero-flex-box,
.hero-flex-box-2 {
    padding: 0;
    background-color: #F1F1F1;
    overflow: hidden;
}

.img-txt-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 50px;
    padding-left: 120px;
    padding-right: 120px;
}

.img-container img {
    width: 430px;
    height: 430px;
    object-fit: cover;
    border-radius: 20px;
}

.head-txt-container {
    align-content: center;
}

.head-txt-container h1 {
    font-family: 'Economica', sans-serif;
    font-size: 40px;
    font-weight: bolder;
}

.head-txt-container p {
    font-family: 'Economica', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    margin: 10px 0px;
}

.hero-flex-box-2 {
    background-color: white;
}

.cta-tnc-box {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.cta-booking-btn a {
    background-color: #B20908;
    padding: 8px 30px;
    text-decoration: none;
    font-family: Georgia, serif;
    font-size: 25px;
    font-weight: 100;
    border-radius: 4px;
    color: white;
}

.cta-booking-btn a:hover {
    background-color: #900808;
}

.tnc-link a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.tnc-link a:hover {
    text-decoration: underline;
}

/* Responsive styles */
@media screen and (max-width: 1100px) {
    .cta-align-container{
        display: flex;
        justify-content: center;
    }

    .img-txt-container {
        flex-direction: column;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
    }

    .img-container{
        order: 1;
    }

    .img-container img {
        width: 100%;
        height: auto;
    }

    .head-txt-container{
        order: 2;
    }

    .head-txt-container h1 {
        font-size: 32px;
        text-align: center;
    }

    .head-txt-container p {
        font-size: 16px;
        text-align: center;
    }


}

@media screen and (max-width: 768px) {
    .img-txt-container {
        padding: 20px;
        gap: 30px;
    }

    .img-container img {
        border-radius: 10px;
    }

    .cta-booking-btn a {
        font-size: 20px;
        padding: 8px 20px;
    }
}

@media screen and (max-width: 480px) {
    .img-txt-container {
        padding: 10px;
        gap: 20px;
    }

    .cta-booking-btn a {
        font-size: 18px;
        padding: 6px 15px;
    }
}


.testimonial-container {
    text-align: center;
    background-color: #f1f1f1;
    padding: 40px;
}

.testimonial-container h1 {
    font-family: 'Economica';
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0;
}

.tsm-cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 50px 0px;
}

.tsm-card {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    text-align: left;
    max-width: 600px;
}

.tsm-card::before {
    content: url('/resources/web-illustrations/teenyicons_quote-solid.svg'); /* Add link to the quotation mark SVG */
    position: absolute;
    top: 20px;
    left: 25px;
}

.tsm-card p {
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #333;
    margin-top: 50px; /* Adjust this margin to position the text correctly */
    margin-bottom: 10px;
}

.tsm-stars{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tsm-stars img{
    margin: 0px 5px;
}

.tsm-card h3{
    font-family: 'Roboto';
    font-size: 18px;
    text-align: center;
    margin: 10px 0px;
}

@media (max-width: 1000px){
    .testimonial-container{
        padding: 20px;
    }

    .tsm-cards {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }
}

